<div class="jumbtron">
    <h1 class="display-4 text-center">Part Payment</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form class="m-auto col-sm-6" [formGroup]="Form" (ngSubmit)="onSubmit()">
                <div class="row">  
                    <div class="col-md-6 pr-3 mt-2">
                        <ng-select 
                            bindLabel="name"
                            formControlName="SectorID"
                            placeholder="Please select sector"
                            class="custom"
                            [ngClass]="{ 'is-invalid':  submitted && f.SectorID.errors }"
                            [selectableGroupAsModel]="false"
                            [searchable]="true" 
                            [clearable]="true"
                            (change)="GetHouseList($event)">
                            <ng-option *ngFor="let s of SectorList" [value]="s.Value" [disabled]="s.disabled">
                                {{s.Text}}
                            </ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.SectorID.errors" class="invalid-feedback">
                            <div *ngIf="f.SectorID.errors.required">Sector No. is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 pr-3 mt-2">
                        <ng-select 
                            bindLabel="name"
                            formControlName="HouseID"
                            placeholder="Please select house N.o" 
                            class="custom"
                            [ngClass]="{ 'is-invalid':  submitted && f.HouseID.errors }"
                            [selectableGroupAsModel]="false"
                            [searchable]="true" 
                            [clearable]="true"
                            (change)="GetReceiptList($event)">
                            <ng-option *ngFor="let h of HouseList" [value]="h.HouseId" [disabled]="h.disabled">
                                {{h.HouseNo}}
                            </ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.HouseID.errors" class="invalid-feedback">
                            <div *ngIf="f.HouseID.errors.required">House No. is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-3 mt-2" style="min-width: 40px;">
                        <input type="text"
                            maxlength="12"
                            formControlName="Balance" 
                            id="Balance" 
                            class="form-control col-md-12 float-right" 
                            placeholder="Total Amount"
                            prefix="Rs. "
                            separatorLimit="000"
                            mask="separator.3"
                            thousandSeparator=","
                            readonly>
                    </div>
                    <div class="col-md-6 pr-3 mt-2" style="min-width: 40px;">
                        <input type="text"
                            id="Amount"
                            name="Amount"
                            formControlName="Amount"
                            [ngClass]="{ 'is-invalid':  submitted && f.Amount.errors }"
                            placeholder="New Payment"
                            maxlength="12"                                                                                                     
                            class="form-control col-md-12 float-right"
                            prefix="Rs. "
                            separatorLimit="000"
                            mask="separator.3"
                            thousandSeparator=",">
                        <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
                            <div *ngIf="f.Amount.errors.maxlength">Max amount would be 99 lacs</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-3 mt-2" style="min-width: 40px;">
                        <input class="form-control"
                            #datepickerYMD="bsDatepicker"
                            bsDatepicker
                            formControlName="PaymentDate"
                            [ngClass]="{ 'is-invalid':  submitted && f.PaymentDate.errors }"  
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                        <div *ngIf="submitted && f.PaymentDate.errors" class="invalid-feedback">
                            <div *ngIf="f.PaymentDate.errors.required">Payment date is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-md-12 pr-3 mt-2">
                        <button class="form-control col-md-6" mdbBtn block="true" class="btn btn-primary float-right" type="submit">Submit</button>
                    </div>
                </div>     
            </form>
        </div>
        <div class="col-md-12 mt-2" *ngIf="ReceiptList != ''">
            <table class="table table-hover table-responsive tbl-display">
                <th align-center>Receipt Date</th>
                <th align-center>Serial</th>
                <th align-center>File</th>
                <th align-center>Sector</th>
                <th align-center>House</th>
                <th align-center>Messr</th>
                <th align-center>Description</th>
                <th align-center>Total</th>
                <th align-center>Payment Date</th>
                <th align-center>Payment</th>
                <th align-center>Balance</th>
                <tr *ngFor="let rl of ReceiptList">
                    <td align-center>{{rl.ReceiptDate}}</td>
                    <td align-center>{{rl.SNo}}</td>
                    <td align-center>{{rl.FileNo}}</td>
                    <td align-center>{{rl.SectorNo}}</td>
                    <td align-center>{{rl.HouseNo}}</td>
                    <td align-center>{{rl.MessrName}}</td>
                    <td align-center>{{rl.Description}}</td>
                    <td align-center>{{rl.TotalAmount}}</td>
                    <td align-center>{{rl.PaymentDate}}</td>
                    <td align-center>{{rl.Payment}}</td>
                    <td align-center>{{rl.Balance}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>