<div class="row">
    <div class="col-6">
        <img src="./../../assets/document.jpg" class="img-fluid" alt="Responsive image"> 
    </div>
    <div class="col-6">
        <div class="container">
            <h1 class="display-4 text-center">Login</h1>
            <hr />
            <div class="row">
                <div style="margin: 0 auto;width:50%;">
                    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12 pr-3 mt-2">
                                <input type="text"
                                    [ngClass]="{ 'is-invalid':  submitted && f.userName.errors }" 
                                    formControlName="userName"
                                    id="userName" 
                                    class="form-control col-md-12 float-right" 
                                    placeholder="userName">
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="f.userName.errors.required">Username is required !</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-3 mt-2">
                                <input type="password" 
                                    [ngClass]="{ 'is-invalid':  submitted && f.password.errors }"
                                    formControlName="password" 
                                    id="password" class="form-control col-md-12 float-right"
                                    placeholder="Password">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-12 pr-3 mt-2">
                                <button class="form-control col-md-12" mdbBtn block="true" class="btn btn-primary float-right"
                                    type="submit">Submit</button>
                            </div>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>
