<div class="jumbtron">
    <h1 class="display-4 text-center">Diary Number</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form class="m-auto col-sm-6" [formGroup]="Form" (ngSubmit)="onSubmit()">
                <div class="row">  
                    <div class="col-md-6 pr-3 mt-2">
                        <ng-select 
                            bindLabel="name"
                            formControlName="SectorID"
                            placeholder="Please select sector"
                            class="custom"
                            [ngClass]="{ 'is-invalid':  submitted && f.SectorID.errors }"
                            [selectableGroupAsModel]="false"
                            [searchable]="true" 
                            [clearable]="true"
                            (change)="GetHouseList($event)">
                            <ng-option *ngFor="let s of SectorList" [value]="s.Value" [disabled]="s.disabled">
                                {{s.Text}}
                            </ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.SectorID.errors" class="invalid-feedback">
                            <div *ngIf="f.SectorID.errors.required">Sector No. is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 pr-3 mt-2">
                        <ng-select 
                            bindLabel="name"
                            formControlName="HouseID"
                            placeholder="Please select house N.o" 
                            class="custom"
                            [ngClass]="{ 'is-invalid':  submitted && f.HouseID.errors }"
                            [selectableGroupAsModel]="false"
                            [searchable]="true" 
                            [clearable]="true"
                            (change)="GetReceiptList($event)">
                            <ng-option *ngFor="let h of HouseList" [value]="h.HouseId" [disabled]="h.disabled">
                                {{h.HouseNo}}
                            </ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.HouseID.errors" class="invalid-feedback">
                            <div *ngIf="f.HouseID.errors.required">House No. is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-3 mt-2" style="min-width: 40px;">
                        <input type="text"
                            formControlName="DiaryNo"
                            [ngClass]="{ 'is-invalid':  submitted && f.DiaryNo.errors }"
                            placeholder="Diary No"
                            maxlength="10"                                                                                                     
                            class="form-control col-md-12 float-right">
                        <div *ngIf="submitted && f.DiaryNo.errors" class="invalid-feedback">
                            <div *ngIf="f.DiaryNo.errors.required">Diary No. is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 pr-3 mt-2" style="min-width: 40px;">
                        <input class="form-control"
                            #datepickerYMD="bsDatepicker"
                            bsDatepicker
                            formControlName="DiaryDate"
                            [ngClass]="{ 'is-invalid':  submitted && f.DiaryDate.errors }"  
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                        <div *ngIf="submitted && f.DiaryDate.errors" class="invalid-feedback">
                            <div *ngIf="f.DiaryDate.errors.required">Diary date is required</div>
                        </div>                         
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-md-12 pr-3 mt-2">
                        <button class="form-control col-md-6" mdbBtn block="true" class="btn btn-primary float-right" type="submit">Submit</button>
                    </div>
                </div>     
            </form>
        </div>
        <div class="col-md-12 pr-3 mt-2 tbl-class" *ngIf="ReceiptList != ''">
            <table class="table table-hover table-responsive">
                <th align-center>Receipt Date</th>
                <th align-center>Serial</th>
                <th align-center>File</th>
                <th align-center>Sector</th>
                <th align-center>House</th>
                <th align-center>Messr</th>
                <th align-center>Description</th>
                <th align-center>Register Date</th>
                <th align-center>Register Messr Name</th>                    
                <th align-center>Register Amount</th>
                <th align-center>Diary Date</th>
                <th align-center>Diary No</th>
                <tr *ngFor="let rl of ReceiptList; let i=index">   
                        <td *ngIf="i<1" align-center>{{rl.ReceiptDate}}</td>
                        <td *ngIf="i<1" align-center>{{rl.SNo}}</td>
                        <td *ngIf="i<1" align-center>{{rl.FileNo}}</td>
                        <td *ngIf="i<1" align-center>{{rl.SectorNo}}</td>
                        <td *ngIf="i<1" align-center>{{rl.HouseNo}}</td>
                        <td *ngIf="i<1" align-center>{{rl.MessrName}}</td>
                        <td *ngIf="i<1" align-center>{{rl.Description}}</td>
                        <td *ngIf="i<1" align-center>{{rl.RegisterDate}}</td>
                        <td *ngIf="i<1" align-center>{{rl.RegisterMessrName}}</td>
                        <td *ngIf="i<1" align-center>{{rl.RegisterAmount}}</td>
                        <td *ngIf="i<1" align-center>{{rl.DiaryDate}}</td>
                        <td *ngIf="i<1" align-center>{{rl.DiaryNo}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>