<div class="jumbtron"> 
    <h1 class="display-4 text-center">Files</h1>
    <hr/>
    <div class="row">   
        <div class="col-md-8">  
            <form class="border border-light p-5" [formGroup]="Form" (ngSubmit)="onSubmit()">
                <div class="row">  
                    <div class="col-md-12 pr-3 mt-2">
                        <input type="text" ngModel 
                        pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
                        maxlength="4"
                        [ngClass]="{ 'is-invalid':  submitted && f.FileNo.errors }" 
                        formControlName="FileNo" 
                        id="FileNo" 
                        class="form-control col-md-6 float-right" 
                        placeholder="File Number">
                        <div *ngIf="submitted && f.FileNo.errors" class="invalid-feedback">
                            <div *ngIf="f.FileNo.errors.required">File number is required</div>
                            <div *ngIf="f.FileNo.errors.pattern">invalid pattern</div>
                            <div *ngIf="f.FileNo.errors.maxlength">maximum length is four characters</div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 pr-3 mt-2">
                        <button class="form-control col-md-8" mdbBtn block="true" class="btn btn-primary float-right" type="submit">Submit</button>
                    </div>
                </div>     
            </form>
        </div>
        <div class="col-md-4">  
            <table class="table table-hover">
                <th>File Number</th>
                <th></th>
                <tr *ngFor="let f of FileList">
                    <td>{{f.Text}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger"  (click)="onDelete(f.Value)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>      
</div>
