<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>Siddiqui Associates</h4>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#Receiptsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">Receipt</a>
                <ul class="collapse list-unstyled" id="Receiptsubmenu">
                    <li>
                        <a [routerLink]="['/receipt']">Generate</a>
                    </li>
                    <li>
                        <a [routerLink]="['/edit']">Part payment</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#Filesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">File</a>
                <ul class="collapse list-unstyled" id="Filesubmenu">
                    <li>
                        <a [routerLink]="['/register']">Case Detail</a>
                    </li>
                    <li>
                        <a [routerLink]="['/diary']">Diary Number</a>
                    </li>
                    <li>
                        <a [routerLink]="['/dispatch']">Dispatch Number</a>
                    </li>                    
                </ul>
            </li>
            <li>
                <a [routerLink]="['/viewcase']">Case History</a>
            </li>
            <li>
                <a [routerLink]="['/stampduty']">Stamp Duty</a>
            </li>
            <li>
                <a [routerLink]="['/challan']">Challan Amount</a>
            </li>
            <li>
                <a [routerLink]="['/fileexpenditure']">File Expenditure</a>
            </li>
            <li>
                <a [routerLink]="['/totalexpenditure']">Total Expenditures</a>
            </li>

            <li>
                <a href="#NewEntrysubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">New Entry</a>
                <ul class="collapse list-unstyled" id="NewEntrysubmenu">
                    <li>
                        <a [routerLink]="['/houseAddress']">New House No</a>
                    </li>
                    <li>
                        <a [routerLink]="['/messr']">New Messr</a>
                    </li>
                    <li>
                        <a [routerLink]="['/registermessr']">New Register Messr</a>
                    </li>
                    <li>
                        <a [routerLink]="['/sector']">New Sector</a>
                    </li>
                    <li>
                        <a href="#Employeesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">Employee</a>
                        <ul class="collapse list-unstyled" id="Employeesubmenu">
                            <li>
                                <a [routerLink]="['/employee']">Create New Employee</a>
                            </li>
                            <li>
                                <a [routerLink]="['/roles']">Create New Employee Role</a>
                            </li>               
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['/file']">New File Number</a>
                    </li>
                </ul>
            </li>           
        </ul>
    </nav>
    <div id="content">
        <app-content-nav></app-content-nav>
    </div>
</div>